.bg-footer {
    background: #132d65
}

footer {
    color: rgb(255, 255, 255);
}

.boton-form {
    background-color: blue;
    color: white;
}

.boton-form:hover {
    background-color: rgb(0, 234, 255);
}